@font-face {
  font-family: "Norse";
  src: url("../assets/fonts/Norse-Bold.woff2") format("woff2"),
    url("../assets/fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --green-accent: #596d48;
  --input-default-border-color: #e5e7eb;
}

body {
  display: flex;
}

/* SIDEBAR */

.sidebar-container {
  background: url(../assets/images/greenery.jpg) center/cover no-repeat;
  height: 100vh;
  width: 35vw;
  min-width: 350px;
  color: white;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}

.form-container {
  height: 100vh;
  width: 65vw;
  min-width: 650px;
}

.logo-container img {
  width: 100px;
  height: auto;
}

.logo-container {
  font-family: "Norse", serif;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 20vh;
  padding: 16px 0;
}

.logo-text {
  margin-bottom: -35px;
  font-size: 6rem;
}

.credit {
  margin-bottom: 16px;
}

.credit,
.credit a {
  color: rgb(215, 215, 215);
}

.credit a:hover,
.credit a:focus {
  color: white;
}

/* FORM */

.form-container header,
.form-actions {
  min-height: 35vh;
}

.signup-info {
  min-height: 30vh;
}
