@font-face {
  font-family: "Norse";
  src: url("../assets/fonts/Norse-Bold.woff2") format("woff2"),
    url("../assets/fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --green-accent: #596d48;
  --input-default-border-color: #e5e7eb;
  --form-background-color: rgb(249 250 251);
  --form-label-color: rgb(31 41 55);
}

body {
  display: flex;
}

/* SIDEBAR */

.sidebar-container {
  background: url(../assets/images/greenery.jpg) center/cover no-repeat;
  height: 100vh;
  width: 35vw;
  min-width: 350px;
  color: white;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}

.form-container {
  width: 65vw;
  min-width: 650px;
  display: flex;
  flex-direction: column;
}

.logo-container img {
  width: 100px;
  height: auto;
}

.logo-container {
  font-family: "Norse", serif;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 20vh;
  padding: 16px 0;
}

.logo-text {
  margin-bottom: -35px;
  font-size: 6rem;
}

.credit {
  margin-bottom: 16px;
}

.credit,
.credit a {
  color: rgb(215, 215, 215);
}

.credit a:hover,
.credit a:focus {
  color: white;
}

/* FORM */

form {
  flex: 6.5;
  display: flex;
  flex-direction: column;
}

.form-container header,
.form-actions {
  flex: 3.5;
  background-color: var(--form-background-color);
  padding-left: 3rem;
}

.form-container header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  padding-bottom: 60px;
}

.form-actions {
  padding-top: 40px;
}

.form-input-container {
  flex: 3;
  background-color: white;
  padding: 1rem 2.5rem;
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.15);
  position: relative;
  border-top: 1px rgb(238, 238, 238) solid;
}

.form-input-container h2 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.form-input-container input {
  margin-bottom: 1.2rem;
  border: var(--input-default-border-color) solid 1px;
  border-radius: 4px;
  padding: 8px;
  width: max(20vw, 250px);
}

.form-input-container label {
  font-size: 0.8rem;
  color: var(--form-label-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.left-inputs,
.right-inputs {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
}
